# ------ env.development.local ------
DATABASE_URL=
# THIS IS HOSTNAME (THIS IS FOR NEXT-AUTH)
NEXTAUTH_URL=http://localhost:3000
# -----------------------------------------

# ------ env.production.local ------
DATABASE_URL=
# HERE WE SET UP HOST WHN WE PUSH OUR PROJECT TO PRODUCTION
NEXTAUTH_URL=
# -----------------------------------------

# ------ .en.local ------
# 1 _ SENDGRID FOR PASWORDLESS (MAGIC LINK) AUTHENTICATION 
# (WE USE THESE IF WE DON'T WANT SPECIAL USTOMIZATION FOR OUR EMAIL)
EMAIL_SERVER_HOST=smtp.sendgrid.net
# we setted 465 here NO MATTER WHAT
EMAIL_SERVER_PORT=<465 for ssl OR 25, 587	(for unencrypted/TLS connections)>
EMAIL_SERVER_USER=<WHEN I WAS SETTING THIS THIS WAS ACTUALLY STRING "apikey" VERBATUM>
EMAIL_SERVER_PASSWORD=<API KEY (THIS IS GOING TO BE GENERATED WHWN WE MADE UP AND ENTER PASSWORD)>
# YOU KNOW WHERE I EXPLAINED THINGS ABOVE (SO CHECK THERE IF SOMETHING ISN'T CLEAR)
# THIS IS OUR EMAIL (I MADE UP FIRST PART, BUT SECOND PART
# NEEDS TO MATCH UP OUR DOMAIN)
FROM_EMAIL="FancyParrot@moutfull.xyz"



# THIS API KEY IS ONLY BECAUSE I TESTED SOMETHING WITH IT
# SO SET THIS IF YOU ARE GOING TO USE "@sendgrid/mail" PACKAGE
# YOU CAN IGNORE THIS
# AND THIS HAS NOTHING TO DO WITH ABOVES EMAIL_SERVER_PASSWORD
SENDGRID_API_KEY=
# 

# 2 _ NEXT AUTH STUFF
# WE SETTED URL INISIDE .env.development.local
# THIS IS SECRET THAT WE USE HERE: pages/api/auth/[...nextauth].ts
SECRET=

# ----------------------------------------------------------------

# .env
